<script type="text/x-handlebars-template" id="template-file">
    <li class="lcb-room-sidebar-item lcb-room-sidebar-file" data-id="{{id}}">
        <i class="fa fa-file lcb-room-sidebar-file-icon"></i>
        <div class="lcb-room-sidebar-file-meta">
            <a class="lcb-room-sidebar-file-name" href="{{url}}" target="_blank">{{name}}</a>
            <span class="lcb-room-sidebar-file-owner">{{owner.displayName}}</span>
            &middot;
            <span class="lcb-room-sidebar-file-size">{{size}}</span>
            <a href="{{url_mi}}"
   target="_blank" id="d2r">下载到小米路由器</a>
        </div>
    </li>
</script>
